*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scene
{
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(#a6d8ff,#fff,#fff);
}
.dark .scene
{
    background: #222833;
}
.sun
{
    position: absolute;
    top: 100px;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    cursor: pointer;
    transition: 0.2s;
}
.dark .sun
{
    left: 45%;
    box-shadow: 0 0 0 #fff;
}
.dark .sun::before
{
    content: '';
    position: absolute;
    top: -20%;
    left: 20px;
    width: 100%;
    height: 100%;
    background: #222833;
    border-radius: 50%;
}
.bag
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 280px;
    background: url(images/bg.png);
    animation: set 21s linear infinite;
    background-size: 1500px;
    background-repeat: repeat-x;
}
@keyframes set
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: -1500px;
    }
}
.car
{
    position: absolute;
    left: -200px;
    bottom: 20px;
    max-width: 200px;
    z-index: 10;
    animation: car 18s linear infinite;
}
@keyframes car
{
    0%
    {
        transform: translateX(0px);
    }
    90%,100%
    {
        transform: translateX(calc(100vw + 200px));
    }
}
.cars
{
    position: absolute;
    right: -200px;
    bottom: 50px;
    max-width: 200px;
    z-index: 9;
    animation: cars 12s linear infinite;
}
@keyframes cars
{
    0%
    {
        transform: translateX(0px) rotateY(180deg);
    }
    90%,100%
    {
        transform: translateX(calc(-100vw - 200px)) rotateY(180deg);
    }
}